//** CSS SLIDESHOWS **//

// Apply to the slideshow container
@mixin slideshow(
  $carousel : $slide-carousel, 
  $slide    : $slide, 
  $count    : $max-slides
) {
  width: 100%;
  overflow: hidden;
  
  #{$carousel} {
    margin: 0;
    padding: 0;
    width: 103% * $count;
    @include no-bullets;
    @include clearfix;
    
    #{$slide} {
      @include float(left);
      width: 100% / (1.03 * $count);
      margin-right: .5% / (1.03 * $count);
    } 
  } 
}
