<div class="slideshow">
  <div class="slides">
    <ul>
      <!--
        EXAMPLE SLIDES
        ... the .slideshow and .slides elements are necessary, but can be any HTML elements (e.g. section)
        ... the inner UL/LI structure is necessary as is
        ... everything inside the LI is optional
      -->
      <li id="slide1">  
        <div class="content">
          <h2>Slide one</h2>
          <p>Decima eodem modo typi qui nunc nobis videntur <a href="#slide2">NEXT</a> fiant sollemnes in. Quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta! Eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim. In vulputate velit esse molestie consequat vel illum dolore eu feugiat. Praesent luptatum zzril delenit augue duis dolore te.</p>
        </div>
      </li>
      <li id="slide2">  
        <div class="content">        
          <h2>Slide Two</h2>
          <p>Dynamicus qui sequitur mutationem consuetudium <a href="#slide1">PREV</a>; est notare quam littera? Decima eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Diam nonummy nibh euismod tincidunt ut laoreet dolore. Adipiscing elit sed magna aliquam erat volutpat ut wisi. In iis qui facit eorum claritatem Investigationes demonstraverunt lectores legere me lius quod.</p>
        </di>
      </li>
      <!--
        END EXAMPLE SLIDES
      -->
    </ul>
  </div>
  <!--
    EXAMPLE SLIDE NAV
    ... you can set up your slide nav as tabs, or prev/next or any other way you like
    ... all that matters is that each nav item links to the proper ID
    ... from there you can style them anyway you like and/or add JS for more effect
  -->
  <div class="slide-nav">
    <ul>
      <li><a href="#slide1">Slide 1</a></li>
      <li><a href="#slide2">Slide 2</a></li>
    </ul>
  </div><!-- /.slide-nav -->
</div><!-- /.slideshow -->